@charset 'utf-8';
$danger:#d9534f;
 .td_user{
      vertical-align: middle;   
      p{
          i{
              padding: 2px 2px;
              font-size: 18px;
              &.active{
                  color: $danger;
              }
          }
      }
 }
 